html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

header {
    height: 100%;
    background: url(../images/cover.jpg) no-repeat fixed;
    background-size: cover;
}

.welcome {
    padding: 20%;
    text-align: center;
    color: #ffffff;
}

.default-link a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.content-section {
    padding: 50px 0;
}

.content-section .about {
    border-top:1px solid #efefef;
    border-bottom:1px solid #cfcfcf;
}

.container{
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

.social-media img {
    padding: 5px;
    width: 32px;
    height: 32px;
}

.social-media li {
    display: inline-block;
    padding: 2px;
}

footer {
    background:#1b1b1b;
}

footer .copynote{
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    color: #ffffff;
}